{
  "extends": [
    "@jedwards1211/eslint-config-typescript",
    "@jedwards1211/eslint-config-react",
    "eslint-config-prettier"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/ban-ts-ignore": 0
  }
}
